$ocean: #34656b;
$tealModern: #61acb5;
$lagoon: #64c7d1;

$mint: #8fbb5b;
$greenModern: #8cc649;
$lime: #aeda7a;

$nightSky: #313245;
$spaceBlue: #414151;
$graphite: #565667;

$chestnutRose: #d36262;
$fuzzyWuzzyBrown: #c45d5d;

$spaceGrey: #6a6a71;
$greyModern: #acafb4;
$silver: #d1d6dc;
$mist: #e1e5e8;
$daylight: #f1f2f7;
$ice: #f9fafc;
